@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #8962d1;
}
@font-face {
  font-family: "PixelifySans";
  src: url("fonts/PixelifySans.woff2") format('woff');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #8962d1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: PixelifySans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button, div {
  font-family: PixelifySans !important;
}

._1rbg3ua3, ._1n3pr302 {
  color: #8962d1 !important;
}